<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProducts()" class="btn btn-sm btn-outline-info ml-2">All</button>
    </li>
    <li>
      <button (click)="onGetSelectedProducts()"  class="btn btn-sm btn-outline-info ml-2">Selected</button>
    </li>
    <li>
      <button (click)="onGetAvailableProducts()"    class="btn btn-sm btn-outline-info ml-2">Available</button>
    </li>
    <li>
      <button (click)="onNewProduct()"    class="btn btn-sm btn-outline-info ml-2">New</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <input ngModel name="keyword"  type="text">
        <button class="btn btn-sm btn-outline-info ml-2">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>

<div class="container">
  <ng-container *ngIf="(products$ | async) as result" [ngSwitch]="result.dataState" >
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading .....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">
        {{result.errorMessage}}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <tr>
          <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
        </tr>
        <tr *ngFor="let p of result.data">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>{{p.quantity}}</td>
          <td>{{p.selected}}</td>
          <td>{{p.available}}</td>
          <td>
            <button (click)="onSelect(p)" [ngClass]="p.selected?'btn-success':'btn-danger'" class="btn btn-sm">
              <span *ngIf="p.selected">Unselect</span>
              <span *ngIf="!p.selected">Select</span>
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="onDelete(p)">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="onEdit(p)">
              <span class="fa fa-edit"></span>
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
  </ng-container>
</div>
